<ul>
  <% @tasks.each do |task| %>
    <li><%= "ROOM: #{task.room}," unless task.room.empty? %>
        <%= "INFO: #{task.info}," unless task.info.empty? %>
        <%= "SIZE: #{task.size}," unless task.size.empty? %>
        <%= "PRICE: $#{task.price_per_sqft}," unless task.price_per_sqft.empty? %>
        <%= "LINE TOTAL: $#{task.line_total}" unless task.line_total.empty? %>--- <%= link_to "Remove Line", "/tasks/#{ task.id }", method: :delete %></li>
  <% end %>
</ul>
<div>
  <%= form_tag "/tasks", method: :post do %>
    <input type="hidden" name="invoice_id" value="<%= params[:invoice] %>">
    <input type="text" name="room" placeholder="Room" size="10">
    <input type="text" name="info" placeholder="Info" size="55">
    <input type="text" name="size" placeholder="Size" size="10">
    <input type="text" name="price_per_sqft" placeholder="$$/Sqft" size="6">
    <input type="text" name="line_total" placeholder="Line Total" size="6">
    <input type="submit" value="Add Line">
  <% end %>
</div>
<br>
<div>
  <strong>TOTAL: <%= @tasks.total_price %></strong>
</div>
<br>
<div>
  <%= button_to "Invoice Job", "/invoices/#{params[:invoice]}", method: :get %>
</div>