<h1><%= @customer.first_name %> <%= @customer.last_name %></h1>
<h3><%= @customer.index_address %></h3>

<div>
  <%= form_tag "/invoices", method: :post do %>
    <input type="hidden" name="customer_id" value="<%= @customer.id %>">
    <input type="submit" value="Create New Job">
  <% end %>
  <br>
  <%= button_to "Show Current Invoices", "/invoices/", method: :get, params: {status: "open", customer: @customer.id} %>
  <br>
  <%= button_to "View Previous Work", "/tasks/", method: :get, params: {customer: @customer.id} %>
</div>
